.jumbotron {

	background-color: lightblue;

}

.boton {

	background-color: black;
	color: lightblue;
	width: 100%;
	padding: 5px 10px 5px 10px; 
}

footer {

	padding: 50px 50px 50px 50px;
	background-color: lightblue;
	margin-bottom: 0px;
	margin-top: 50px;
}

.columna {

	flex: 1 150px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;

}